<md-grid-list
		md-cols-sm="1"
		md-cols-md="2"
		md-cols-gt-md="6"
		md-row-height-gt-md="1:1"
		md-row-height="4:3"
		md-gutter="8px"
		md-gutter-gt-sm="4px">
	<md-grid-tile
			ng-repeat="tile in album_list.tiles"
			md-rowspan="{{tile.span.row}}"
			md-colspan="{{tile.span.col}}"
			md-colspan-sm="1"
			bg-img="{{ tile.cover.file.path }}"
			ng-click="app.nav('/album/' + tile._id)"
			ng-class="{'no-bg': !title.cover}">
		<md-icon ng-if="!tile.cover" md-svg-icon="ico/photo_album.svg"></md-icon>
		<md-grid-tile-footer>
			<h3>{{tile.title}}</h3>
		</md-grid-tile-footer>
	</md-grid-tile>
</md-grid-list>